.navbar {
  background-color: #2858c1;
  height: 55px;
  display: flex;
  justify-content: space-between;
}

.navlist {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2858c1;
  padding: 0 20px;
}

.navlist li {
  display: inline-block;
}

.navlist li a {
  color: rgb(255, 255, 255);
}

.navlist li :active {
  color: orange;
}

.dropdown-menu li {
  display: block;
  background-color: #2858c1;
}

.dropdown-button {
  background-color: white;
}