.table-container {
  background-color: rgb(230, 230, 230);
}

.timetable {
  padding: 8px;
}

table {
  border-collapse: collapse;
  width: 80%;
  table-layout: fixed;
  margin-left: auto;
}

th,
td {
  color: #000000;
  border: 1px solid #000000;
  padding: 0.2px;
  text-align: center;
}

td {
  font-size: small;
}

th {
  background-color: #2858c1;
  color: #ffffff;
  font-weight: 400;
}

table tr:nth-child(even) {
  background-color: #e1eaff;
}

table tr:nth-child(odd) {
  background-color: #ffffff;
}
