.dx-datagrid-table {
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid black;
  float: left;
  text-align: center;
}
.dx-datagrid-table tr:nth-child(even) {
  background-color: #e6ebfe;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.dx-datagrid {
  padding: 0.7em 0.7em 1em 40em;
  border: 1px solid rgb(255, 0, 0);
}
